body {
	height: 100%;
	margin: 0;
}
.container {
	float: left;
	width: 40%;
	margin-top: 50px;
}

.contact {
	margin-left: 10%;
}

.widget {
	width: 60%;
	float: right;
	height: 100vh;
}

.title {
	margin-left: 5%;
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}

.form {
	margin-left: 5%;
}

.close {
	float: right;
	font-size: 25px;
	margin-right:10px;
	cursor: pointer;
}

.block {
	margin: 20px 0;
}

.label {
	margin: 5px 0;
}

.input {
	padding: 5px 5px;
	width: 20%;
}

.textarea {
	width: 60%;
	height: 200px;
}

.submit {
	width: 26%;
	height: 30px;
	position: relative;
	left: 35%;
	top: 60px;
}