html { 
	height:100%; 
}
body { 
	position:absolute; 
	top:0; 
	bottom:0; 
	right:0; 
	left:0; 
}
.container {
	float: left;
	width: 40%;
	margin-top: 50px;
}

.contact {
	margin-left: 10%;
}

.widget {
	width: 60%;
	float: right;
	height: 100%;
	min-height: 600px;
	background-color: lightgrey;
}

.animationIf.ng-enter,
.animationIf.ng-leave {
  -webkit-transition: opacity ease-in-out 1s;
  -moz-transition: opacity ease-in-out 1s;
  -ms-transition: opacity ease-in-out 1s;
  -o-transition: opacity ease-in-out 1s;
  transition: opacity ease-in-out 1s;
}
.animationIf.ng-enter,
.animationIf.ng-leave.ng-leave-active {
  opacity: 0;
}
.animationIf.ng-leave,
.animationIf.ng-enter.ng-enter-active {
  opacity: 1;
}

.title {
	margin-left: 5%;
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}

.form {
	margin-left: 5%;
}

.close {
	float: right;
	font-size: 25px;
	margin-right:10px;
	cursor: pointer;
}

.block {
	margin: 20px 0;
}

.label {
	margin: 5px 0;
}

.input {
	padding: 5px 5px;
	width: 20%;
}

.textarea {
	width: 60%;
	height: auto;
	box-sizing: border-box;
}

.submit {
	width: 26%;
	height: 30px;
	position: relative;
	left: 35%;
	top: 60px;
}
