<div class="close">&#10006</div>
<div class="title">Contact</div>
<form class="form">
	<div class="block">
		<div class="label">First Name</div>
		<input type="text" name="" placeholder="firstname" required class="input">
	</div>
	<div class="block">
		<div class="label">Last Name</div>
		<input type="text" name="" placeholder="lastname" required class="input">
	</div class="block">
	<div>
		<div class="label">Message</div>
		<textarea cols="50" rows="10" placeholder="Enter text here..."></textarea>
	</div>
	<input type="submit" name="" value="send">
</form>